@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.2s ease;
	font-size: 16px;
	font-family: "Rubik", serif;
}

:root {
	--black: #000000ff;
	--pumpkin: #f47934ff;
	--moonstone: #13a9c4ff;
	--moonstone-dark: #007e94;
	--white-smoke: #f6f5f3ff;
	--rusty-red: #cc2f44ff;
	--dark-grey: #4d4d4d;
	--light-grey: #bbbbbb;
	--shadow: #00000033;
	--white: #fff;

	--text-headers: "Playfair Display", serif;
	--text-para: "Rubik", serif;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--white-smoke);
	min-height: 100vh;
}

header {
	background-color: var(--white-smoke);
}

hr {
	margin-top: 2rem;
	opacity: 0.5;
}

.header-container,
.container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

.header-top {
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-container {
	position: relative;
}

.search-container input {
	padding: 0.5rem 0.25rem;
	min-width: 20em;
	background-color: var(--white-smoke);
	outline: none;
	border: none;
	border-bottom: 1px solid var(--shadow);
}

.search-container #search-btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-55%);
	width: 2.5rem;
	cursor: pointer;
	padding: 0.5rem;
}

.user-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.avatar-container,
.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
	padding: 2rem 0;
}

.user-info {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.user-info h1 {
	font-family: var(--text-headers);
	font-weight: 200;
	font-size: 3rem;
}

.user-info p {
	font-weight: 200;
	color: var(--dark-grey);
}

button {
	padding: 0.25rem 0.75rem;
	text-transform: capitalize;
	cursor: pointer;
}

.options {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-book {
	position: sticky;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--moonstone-dark);
	border: 1px solid transparent;
	color: white;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	font-size: 3rem;
	&:hover {
		background-color: var(--moonstone);
	}
	&:active {
		box-shadow: 0 2px 2px 1px var(--shadow);
	}
}

.row-title {
	font-family: var(--text-headers);
	font-size: 1.5rem;
}

.list {
	display: flex;
	gap: 2rem;
}

.book-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.list {
	display: flex;
	gap: 2rem;
	padding: 0 1rem;
	overflow-x: auto;
	scroll-behavior: smooth;
	white-space: nowrap;
	padding-bottom: 1rem;
	scrollbar-width: none;
	scrollbar-color: transparent transparent;
}

.list::-webkit-scrollbar {
	display: none;
}

.list::-webkit-scrollbar-thumb {
	background: var(--dark-grey);
	border-radius: 4px;
}

.list::-webkit-scrollbar-track {
	background: var(--light-grey);
}

/* Edge & Modern Browsers (Experimental) */
@supports (scrollbar-color: var(--dark-grey) var(--light-grey)) {
	.list {
		scrollbar-width: thin;
		scrollbar-color: transparent;
	}
}

.card-xl {
	width: 30rem;
	height: 20rem;
	padding: 0.75rem;
	display: flex;
	gap: 1rem;
	background-color: var(--white);
	box-shadow: 0 4px 6px 2px var(--shadow);
	border-radius: 0.25rem;
	margin-top: 3rem;
	flex: 0 0 auto;
	user-select: none;
}

.card-xl.variation-small {
	flex-direction: column;
	width: 15rem;
	height: 25rem;
}

.card-xl .card-xl__book-cover {
	width: 50%;
	height: 100%;
	background-color: var(--rusty-red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-xl.variation-small .card-xl__book-cover {
	width: 100%;
	height: 75%;
	background-color: var(--rusty-red);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-xl .card-xl__info {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.card-xl.variation-small .card-xl__info {
	width: 100%;
	height: 25%;
}

.card-xl__info .info-header {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-xl__info .info-header h3 {
	font-family: var(--text-headers);
	font-weight: 400;
	font-size: 1.5rem;
}

.card-xl__info .info-header p {
	font-weight: 200;
	color: var(--dark-grey);
	letter-spacing: 2px;
}

.card-xl__info .info-progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	gap: 0.75rem;
	width: 100%;
}

.card-xl.variation-small .info-progress {
	display: none;
}

.card-xl__info .info-progress h3 {
	font-family: var(--text-headers);
	color: var(--dark-grey);
	letter-spacing: 1px;
}

.card-xl__info .info-progress p,
.card-xl__info .info-progress p span {
	font-size: 0.75rem;
	color: var(--dark-grey);
	letter-spacing: 1px;
}

.card-xl__info .info-progress p span.pages-finished {
	color: var(--black);
}

.card-xl__info .info-progress .progress-bar {
	width: 75%;
	height: 0.25rem;
	border-radius: 0.25rem;
	background-color: var(--light-grey);
}

.card-xl__info .info-progress .progress-bar .progress-bar__fill {
	height: 100%;
	border-radius: inherit;
	background-color: var(--dark-grey);
}

.add-form-container {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	background: var(--white-smoke);
	padding: 3rem 2rem;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	opacity: 0;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.add-form-container.show {
	display: block;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.add-form-container.hide {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.8);
	transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

input,
select {
	width: 100%;
	padding: 0.75rem 0.5rem;
	background-color: var(--white-smoke);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--shadow);
	font-size: 1rem;
	border-radius: 4px;
}

select {
	appearance: none;
	cursor: pointer;
}

.form-control,
.form-control-select {
	margin-bottom: 2rem;
}

.form-control-select {
	position: relative;
}

.form-control-select::after {
	content: "▼";
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	color: var(--shadow);
	font-size: 0.8rem;
}

input::placeholder {
	color: var(--shadow);
	opacity: 0.7;
}

input:hover,
select:hover {
	background-color: rgba(245, 245, 245, 0.8);
}

#add-form button,
.modal-content button:not(.close-btn) {
	background: var(--moonstone);
	color: white;
	border: none;
	padding: 0.75rem;
	width: 100%;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 1rem;
}

#add-form button:hover,
.modal-content button:not(.close-btn) {
	background: var(--moonstone-dark);
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: var(--shadow);
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.close-btn:hover {
	color: var(--primary-color);
	transform: scale(1.2);
}

.book-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: none;
	display: none; /* Start hidden */
	justify-content: center;
	align-items: center;
	z-index: 999;
	transition: opacity 0.3s ease-out;
}

.book-modal.show {
	display: flex;
}

.modal-content {
	position: relative;
	background: var(--white-smoke);
	display: flex;
	gap: 2rem;
	padding: 2rem;
	border-radius: 8px;
	width: 40rem;
	height: 32rem;
	text-align: left;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	transform: scale(0.8);
	opacity: 0;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal-content.show {
	transform: scale(1);
	opacity: 1;
}

.modal-content.hide {
	transform: scale(0.8);
	opacity: 0;
	transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.modal-content button {
	margin-top: 1rem;
}

.modal-book-cover {
	width: 50%;
	height: 100%;
	background-color: var(--rusty-red);
}

.modal-book-cover img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.modal-content__info {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#remove-book {
	background: var(--rusty-red);
}

.edit-book-btn {
	background-color: transparent;
	text-align: left;
	border: none;
	padding: 1rem 0;
	color: var(--moonstone-dark);
}

.edit-book-btn:hover {
	letter-spacing: 1px;
	color: var(--dark-grey);
}
